.primary-slider{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 550px;
}

.primary-image{
    position: relative;
    width: 550px;
}

.primary-image img{
    width: 100%;
}

.primary-arrows{
    position: absolute;
    background-color: #ddd;
    opacity: 0.5;
    z-index: 30;
    display: none;
}
.primary-arrows svg{
    pointer-events: none;
}

.primary-arrows-active{
    display: block;
}

#next{
    top: 50%;
    right: 5%;
    
}
#previous{
    top: 50%;
    left: 5%;
}