.slider{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.slider-images{
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.3s ease-in 0s;
    position: relative;
}

.recent-image{
    position: relative;
    margin: 1rem;
}

.product-image{
    width: 250px;
    height: 370px;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.product-top{
    position: absolute;
    overflow-wrap: break-word;
    top: 0;
    z-index: 100;
    font-weight: 900;
    width: 100%;
    height: 80px;
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-bottom{
    position: absolute;
    bottom: 0;
    z-index: 100;
    font-weight: 900;
    width: 100%;
    height: 80px;
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.rating-icons {
    font-size: 1.2rem;
    color: #FF6F61;
}
.green {
    color: green;
}



.product-bottom p {
    margin: 0;
}

.btn-buy-now{
    background-color: #FF6F61;
    color: #000;
    display: flex;
    align-items: center;
}
.btn-buy-now svg{
    transform: translateY(-10%);
    margin-right: 0.3rem;
}

.product-top p{
    font-size: 1rem;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.slider-preview span{
    position: relative;
    opacity: 1;
    margin: 0.2rem;
    background-color: #FF6F61;
    z-index: 100;
}

.slider-preview{
    background-color: rgba(255, 169, 161, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    visibility: hidden; 
}


.recent-image:hover .slider-preview{
    visibility: visible;
}
.recent-image:hover .product-top{
    background-color: #FF6F61;
}
.recent-image:hover .product-bottom{
    background-color: #FF6F61;
}
.recent-image:hover .btn-buy-now{
    background-color: #FFF;
    color: #FF6F61;
}
.recent-image:hover .rating-icons{
    color: #FFF;
}
.slider-preview svg{
    color: #FFF; 
    opacity: 1 !important;
    z-index: 50;
}


.arrows{
    border-color: #FF6F61 !important;
}
.arrows svg{
    pointer-events: none;
}
.arrows svg polygon{
    fill: #FF6F61 !important;
}

.recent-image img{
   position: relative;
   max-width: 100%;
     max-height: 100%;
   pointer-events: none;
}