*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(232, 255, 254, .5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-color{
  background: #FF6F61!important;
}

.nav-link{
  color: #fff !important;
  text-transform: uppercase;
}
.nav-link:hover{
  color: #000 !important;
  
}

.dropdown-menu{
  background: #FF6F61!important;
  border: none;
}

.search-input{
  border: 1px solid #FF6F61 !important;
}

.search-input:focus{
  box-shadow: none !important;
  border: 2px solid #000 !important;
}

.option-icons{
  border: 1px solid #FF6F61;
  object-fit: contain;
  color: #FF6F61;
}

.option-icons svg{
  transform: translateY(-10%);
  pointer-events: none;
}

.option-icons:hover{
  cursor: pointer;
  background-color: #FF6F61;
  color: #FFF;
}

.offer-icons{
  color: #FF6F61;
}

.contact-icons:hover{
  cursor: pointer;
  color: #FF6F61;
  border-color: #FF6F61 !important;
}




