*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-color{
  background: #FF6F61!important;
}

.nav-link{
  color: #fff !important;
  text-transform: uppercase;
}
.nav-link:hover{
  color: #000 !important;
  
}

.dropdown-menu{
  background: #FF6F61!important;
  border: none;
}

.search-input{
  border: 1px solid #FF6F61 !important;
}

.search-input:focus{
  box-shadow: none !important;
  border: 2px solid #000 !important;
}

.option-icons{
  border: 1px solid #FF6F61;
}